:root {
      --darkPurple: #23143d;
      --lightPurple: #493669;
      --gray: #0a0a0a;
}

* {
      margin: 0;
      box-sizing: border-box;
      font-family: "Rubik", sans-serif;

      color: var(--gray);
}

body {
      background-color: var(--lightPurple);
      position: relative;
}
body::before {
      content: '';
      position: absolute;
      background-color: whitesmoke;
      height: 100vh;
      width: 100vw;
      top:0;
      left: 0;
      z-index: -1;
      clip-path: circle(130% at 37% -135%);
}

header {
      width: 100%;
      height: 100px;
      padding: 10px 0;
      display: flex;
      justify-content: center;
      align-items: center;
}

.title {
      display: flex;
      flex-direction: column;
      gap: 8px;

      h1, h4 {
            text-align: center;
      }

      h4 {
            font-weight: normal;
      }
}


.addNew {
      width: 63%;
      display: flex;
      justify-content: flex-end;

      button {
            background-color: transparent;
            outline: none;
            border: 3px solid var(--lightPurple);
            color: var(--lightPurple);
            font-weight: bold;
            font-size: small;
            border-radius: 10px;
            padding: 7px 12px;
            cursor: pointer;
      
            transition: .1s all ease;
      }

      button:hover {
            background-color: var(--lightPurple);
            color: white;
      }
}

.container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      gap: 10px;
}
.table {
      display: flex;
      flex-direction: column;
      border: 1px solid var(--gray);
      border-radius: 30px;
      width: 65%;
      height: 75vh;
      padding: 10px 30px;
      backdrop-filter: blur(10px);
      background-color: #ffffff4A;
}
.row, .tableHead {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      width: 100%;
      border-bottom: 1px solid var(--gray);
}
.row {
      height: 75px;
}
.tableHead {
      height: 65px;
}

.cell {
      display: flex;
      justify-content: center;
      align-items: center;

      h5 {
            text-align: center;
      }

      input {
            width: 90%;
            background: none;
            border: none;
            outline: none;
      }
}

.floatingMenu {
      height: 120px;
      width: 170px;
      position: fixed;
      right: 1%;
      bottom: 3%;

      border-radius: 10px;

      legend {
            font-size: 14px;
            color: white;
            padding: 5px 10px;
      }
}